body {
    margin: 0;
    padding: 0;
    background: #fdc9d1;
    font-size: 12px;
    overflow: auto;
    font-family: 'Caveat', cursive;
}

#mainDiv {
    width: 100%;
    height: 100%
}

#loveHeart {
    float: left;
    width: 350px;
    height: 420px;
    position: relative;
}

#garden {
    width: 100%;
    height: 100%
}

#elapseClock {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    width: 500px;
    font-size: 24px;
    color: #666
}

#messages {
    text-align: center;
    display: none
}

#elapseClock .digit {
    font-size: 18px;
}

#loveu {
    padding: 5px;
    font-size: 22px;
    text-align: right;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
}

#clickSound {
    display: none
}

#code {
    float: left;
    width: 440px;
    margin-top: 60px !important;
    height: 400px;
    color: #333;
    font-size: 12px
}

#code .string {
    color: #2a36ff
}

#code .keyword {
    color: #7f0055;
    font-weight: bold
}

#code .placeholder {
    margin-left: 15px
}

#code .space {
    margin-left: 7px
}

#code .comments {
    color: #3f7f5f
}

#copyright {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    color: #666
}

#errorMsg {
    width: 100%;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 100px;
    left: 0
}

#copyright a {
    color: #666
}
